header{background:linear-gradient (lightCyan,lightGreen,tan,Green); 
       text-align:center;}
       
h1{font-size:300%;}

h2{text-align:center;
  background:wheat;
  height:350px;}
  
#pgs{height:100px;
     width:330px;}

div,d,h,l,y{border:solid black;
            display:flex;
            padding:10px;
            margin:15px;}
            
div,img{height:80px;
        width:80px;
        text-align:center;}
            
footer{background:linear-gradient(lightCyan,lighgtGreen,Green);}
   