header{background-color:goldenRod;
       text-align:center;
       width:600px;
}
       
h1{font-size:300%;}

h2{text-align:center;
  background:wheat;
  height:350px;
  width:600px;
}
  
#pgs{height:100px;
     width:600px;}

div,d,h,l,y{border:solid black;
            display:flex;
            padding:10px;
            margin:15px;}
            
div,img{height:80px;
        width:80px;
        text-align:center;
        margin-top:-30px;}
            
footer{background:gold;
        width:600px;
}
   